<div class="welcome">
  <% if @current_user %>
    Hello, <span class="greeting"><%=@current_user.email%></span>. Here are your account details:</h1>
  <% end %>
</div>

<ul>
  <li>
    e-mail address: <%= @current_user.email %>
  </li>
  <li>
    account created at: <%= @current_user.created_at.localtime.strftime("%B %e, %Y %I:%M:%S %p %Z") %>
  </li>
  <li>Order history:</li>
    <% @current_user.orders.sort.each do |o| %>
    <ul>
      <li> <%= link_to "#{o.purchased_date}, #{o.purchased_time}", order_confirm_path(o.id) %> </li>
    </ul>
    <% end %>
</ul>
