<div class = "signup-container">
  <h3>Sign Up</h3>
  <form action="/users" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <div>
      <h4>e-mail address</h4>
      <input type='text' name="user[email]" />
    </div>

    <div>
    <h4>Password</h4>
    <input type="password" name="user[password]">
    </div>

    <div>
      <h4>Confirm your password</h4>
      <input type="password" name="user[password_confirmation]">
    </div>

    <input type='submit' />
  </form>
</div>
