<div class="welcome">
  <% if @current_user %>
    Hello, <span class="greeting"><%=@current_user.email%></span>. Here is your final order:</h1>
  <% end %>
</div>

<span>[submit order link here]</span>
