body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Helvetica"
}

body a:visited {
  color: blue;
}

body a:link {
  color: blue;
}

input[type=submit] {
  font-size: 4px;
}

.header {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.7);
}

  .header-container {
    margin: 0 auto;
    width: 800px;
  }

  .header .logo {
    font-size: 20px;
    text-align: center;

    position: relative;
    display: inline-block;
    height: 68px;
    width: 68px;
    margin: 10px 0 10px 0;
    border: 1px solid white;
  }

  .header .logo span {
    position: relative;
    top: 20px;
  }

  .header .login-container {
    width: 200px;
    height: 68px;
    margin: 10px 0 10px 0;

    position: relative;
    float: right;
    display: inline-block;

    font-size: 10px;
    color: white;
    border: 1px solid white;
  }

  .header .login-container form * {
    margin: 1px 0 1px 0;
  }

  .header .login-container .create-account-link {
    font-size: 10px;
    position: relative;
    float: right;
    bottom: 4px;
    right: 2px;
  }

.signup-container {
  width: 200px;
  margin: 10px 0 10px 0;
  border: 1px solid white;
}

.signup-container h3 {
  padding-left: 10px;
  text-decoration: underline;
}

.signup-container form {
  padding: 0 0 10px 10px;
}

#content-body {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

.welcome {
  font-size: 40px;
  font-weight: bold;
}

.welcome .greeting {
  color: white;
}

table tr, th, td {
  font-size: 10px;
}

table th, td {
  padding-bottom: 10px;
}
