body {
  // margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Helvetica";
  font-size: 22px;
}

body a:visited {
  color: blue;
}

body a:link {
  color: blue;
}

// input[type=submit] {
//   // font-size: 4px;
// }

.header {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.7);
}

  .header-container {
    margin: 0 auto;
    width: 1140px;
  }

  .header .logo {
    font-size: 20px;
    text-align: center;

    position: relative;
    display: inline-block;
    height: 68px;
    width: 68px;
    margin: 10px 0 10px 0;
    border: 1px solid white;
  }

  .header .logo span {
    position: relative;
    top: 20px;
  }

  .header .admin-container {
    width: 200px;
    height: 68px;
    margin: 10px 0 10px 0;

    position: relative;
    float: right;
    display: inline-block;

    font-size: 24px;
    border: 1px solid white;
  }

  .header .login-container {
    width: 400px;
    height: 68px;
    margin: 10px 0 10px 0;

    position: relative;
    float: right;
    display: inline-block;


    font-size: 16px;
    border: 1px solid white;
  }

  .header .login-container .form-field {
    float: left;
    clear: right;
  }

  .header .login-container .create-account-link {
    position: relative;
    float: right;
    bottom: 12px;
    right: 2px;
  }

.signup-container {
  width: 200px;
  margin: 10px 0 10px 0;
  border: 1px solid white;
}

.signup-container h3 {
  padding-left: 10px;
  text-decoration: underline;
}

.signup-container form {
  padding: 0 0 10px 10px;
}

// #content-body {
//   width: 800px;
//   margin: 0 auto;
//   margin-top: 20px;
// }

.welcome {
  font-size: 50px;
  font-weight: bold;
  padding: 20px 0 20px 0;
}

.welcome .greeting {
  color: white;
}

.product-starter-list li {
  list-style: none;
  font-size: 22px;
}

table {
  padding: 20px 0 20px 30px;
}

table thead {
  text-transform: uppercase;
  text-align: left;
}

table tbody th {
  font-weight: normal;
}

table tr, th, td {
  font-size: 22px;
  text-align: left;
}

table th, td {
  padding: 0 15px 10px 0;
}
