<div class="welcome">
  Hello, <span class="greeting">admin</span>. Here are all of the products:
</div>

  <table>
    <thead>
      <tr>
        <th>Name          </th>
        <th>Description   </th>
        <th>Price         </th>
        <th>Edit          </th>
        <th>Delete        </th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |p| %>
      <tr>
        <th><%= p.name %></th>
        <td><%= p.description %></td>
        <td><%= p.product_options.find_by(name:"standard price").price_in_cents/100%></td>

        <td> [edit button] </td>
        <td> [delete button] </td>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Add new product", new_product_path %>
