<h1>here are some products:</h1>

  <% @products.each do |p| %>
    <ul>
      <li><strong>Name:</strong> <%= link_to p.name, show_product_path(p.id) %></li>
      <li><strong>Price:</strong> <%= p.product_options.first.price_in_cents.round/100 %></li>
      <li><strong>Image:</strong> TBD! </li>
      <br>
    </ul>
  <% end %>
